<!DOCTYPE html>
<html>
<head>
<title>Goby:: the uber for public transport</title>
<meta name="author" content="goby">
<meta name="keyword" content="public uber, Lagos public transport, public transport, traffic, clean transport, clean public transport">
<meta name="description" content="the uber for public transport">
<meta charset ="utf-8">
<meta name="viewport" content="width=device-width, initial-scale= 1, user-scale=no" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../assets/css/main.css">
</head>
<body id="myBody">
		<header id="header" style="background: #fff">
			<a href="../index.html"><img src="../images/goby_logo.png" alt="Goby_logo" width="50px" height="80%" style="display: inline-block; margin: 0px 20px" title="Goby"/></a>
				<!--<a class="logo" href="index.html">Goby</a>-->
				<nav class="Menu">
					<a href="#menu"></a>
				</nav>
				<div class="navMenu">
					<a href="about.html">ABOUT</a>
					<a href="contact.html">CONTACT</a>
				</div>
		</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="../index.html">Home</a></li>
					<li><a href="template/about.html">About</a></li>
					<li><a href="template/contact.html">Contact</a></li>
				</ul>
			</nav>
			<div style="background: white; padding: 10px; text-align: center;  margin-top: 5px">
				<h1 style="font-size: 30px;">Contact</h1>
				<span>We are reachable through any of these media!</span>
			</div>
			<div class="info">
					<i class="fa fa-map-marker" style="font-size: 30px"></i> 
					<p>13, Mojisola str. Ojodu, Lagos</p>
					<i class="fa fa-envelope" style="font-size: 30px"></i> 
					<p>info@goby.com.ng</p>
					<i class="fa fa-phone" style="font-size: 30px"></i> 
					<p>09050997701</p>
			</div>
			
<div class="row col-12 footer" style="position: relativ;">
				<div class="col-7 col-m-12 fLeft">
					<div class="fContent">
						<a href="about.html" style="text-decoration: none; color: #0088cc">ABOUT</a> &nbsp;&nbsp; &nbsp&nbsp;&nbsp; &nbsp
						<a href="contact.html" style="text-decoration: none; color: #0088cc; display: inline-block;">CONTACT</a>
						<div class="social">
							<span style="color: #999999">Follow us:</span>&nbsp;&nbsp
							<a href="https://www.facebook.com/gobybus"><i class="fa fa-facebook" style="color: #0088cc"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="https://www.twitter.com/gobybus"><i class="fa fa-twitter" style="color: #0088cc"></i></a>
						</div>
						<p class="copy">&copy; Copyright Goby Inc. &nbsp; &nbsp; &nbsp; <span>made with &nbsp;<i class="fa fa-heart" style="color: red;"></i> &nbsp; in Lagos</span></p>
						
					</div>	
				</div>
				<div class="col-5 col-m-12 fRight">
					<p class="coming">coming soon to: </p>
					<i class="fa fa-android"></i>
					<i class="fa fa-apple"></i>
				</div>
			</div> 
</body>
</html>